// Some variables
$bg-color: #fff;
$bg-hover: #fbfbfb;
$heart-color: #f4b942;
$tagline-style: oblique;

// Useful fix to keep columns at equal height
// https://codepen.io/bootstrapped/full/RrabNe
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}

.jumbotron.header {
  .container {
    position: relative;
  }
  .account-links {
    position: absolute;
    bottom: -30px;
    @media screen and (min-width: 768px) {
      bottom: -46px;
    }
    text-align: right;
    padding-right: 30px;
  }
  ul {
    margin-bottom: 0;
  }
}

.beers-grid, .beers-list, .show-beer {
  .tagline {
    font-style: $tagline-style;
  }
}
.beers-grid {
  [class*='col-'] {
    margin-bottom: 7px;
  }

  .beer-wrapper {
    transition: all 1s ease-in-out;
    //position: relative;
    background-color: $bg-color;
    margin-top: 15px;
    // matching the ready-designed search bar
    border-radius: 5px;
    &:hover, &:focus {
      background-color: $bg-hover;
    }

  }
  // Wants media queries
  img {
    max-height: 200px;
    margin:0 auto;
    padding:15px;
  }
  .info {
    text-align: center;
    .tagline {
      padding: 10px;
    }
  }
}

.beers-list {
  [class*='col-'] {
    margin-bottom: 24px;
  }

  .info {
    background-color: $bg-color;
    height: 100%; // of the flex row
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      font-size: 1.8rem;
    }
    blockquote {
      font-size: 1.4rem;
    }
  }

  .img-wrap {
    transition: all 0.5s;
    background-color: $bg-color;
    &:hover, &:focus {
      background-color: $bg-hover;
    }
    img {
      max-height: 200px;
      margin: 0 auto;
      padding:15px;
    }
  }
}

.show-beer {
  h1 {
    text-align: center;
  }
  .tagline {
    text-align: center;
  }
  // Wants media queries
  img {
    max-height: 300px;
    margin: 10px auto;
  }
  .description {
    margin-top: 15px;
    padding:15px;
  }
  table {
    width: 90%;
    margin:0 auto;
  }
  .panel {
    position: relative;
  }
}

.view-switch {
  text-align: right;
  .btn.view-switch {
    margin-left: 5px;
  }
}

.beers-grid .fav-toggle {
  top :25px;
  left: 25px;
  i {
    font-size: 2rem;
  }
}

.beers-list .fav-toggle {
  top: 0;
  right:25px;
  i {
    font-size: 3rem;
  }
}

.show-beer .fav-toggle {
  top: 15px;
  left: 25px;
  i {
    font-size: 3rem;
  }
}

.fav-toggle {
  position: absolute;
  background-color: transparent;
  i{
    transition: color 0.5s;
    color: #efefef;
    &:hover, &:focus {
      color: lighten($heart-color, 30%);
    }
  }
  &.favourite {
    i {
      color: $heart-color;
      &:hover, &:focus {
        color: lighten($heart-color, 30%);
      }
    }
  }
}

.pagination-container {
  text-align: center;
  ul.pagination {
  }
  margin: 10px auto;
}